@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-bar {
    width: -webkit-fill-available;
}

.width {
    width: -webkit-fill-available;
}

.content:after {
    content: " *";
    color: red;
}

li {
    display: inline-block;
    position: relative;
    padding-bottom: 5px;
}

li:last-child {
    margin-right: 0;
}

.nav-items-hover-effect:after {
    content: '';
    display: block;
    margin: auto;
    height: 3px;
    width: 0px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
    margin-top: 5px;
}

.nav-items-hover-effect:hover:after {
    width: 100%;
    background: #832DB1;
}

.group .hover-effects {
    background-image: linear-gradient(to right,
            #832DB1,
            #832DB1 50%,
            #ffff 50%);
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
    color: white;
}

.group .hover-effects:before {
    content: '';
    background: #832DB1;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}

.group:hover .hover-effects {
    background-position: 0;
}

.group:hover .hover-effects::before {
    width: 100%;
}

.adding-height:before {
    height: 1em;
    display: table-row;
    content: '';
}